@font-face {
	font-family: 'Chilanka';
	src: url(../fuentes/Chilanka-Regular.ttf);
}

@font-face {
	font-family: 'Lobster';
	src:url(../fuentes/Lobster-Regular.ttf);
}

@font-face {
	font-family: 'Pacifico';
	src:url(../fuentes/Pacifico-Regular.ttf);
}

@font-face {
	font-family: 'ShadowsIntoLight';
	src:url(../fuentes/ShadowsIntoLight-Regular.ttf);
}
